/*  #750014 is "MIT Red"  */
/* other colors and white and black */

/**************** Body and tag styles ****************/

*{margin:0; padding:0;}

body{
font:76% Verdana,Tahoma,Arial,sans-serif;
line-height:1.4em;
text-align:center;
color:#ffffff;
background:#ffffff;
}

a{
color:#ffffff;
text-decoration:none;
background-color:inherit;
}
a:hover{color:inherit; text-decoration:underline; background-color:inherit;}
a img{border:2;}

p{padding:0 0 1.6em 0;}
p form{margin-top:0; margin-bottom:20px;}

img.left,img.center,img.right{padding:4px; border:1px solid #a0a0a0;}
img.left{float:left; margin:0 12px 5px 0;}
img.center{display:block; margin:0 auto 5px auto;}
img.right{float:right; margin:0 0 5px 12px;}

/**************** Header and navigation styles ****************/

#container{
width:750px;
margin:20px auto;
padding:1px 0;
text-align:left;
font-size:1.2em;
background:#ffffff;
color:#750014;
border:2px solid #750014;
}

#header{
height:180px;
width:748px;
margin:0px 1px 1px 1px;
text-align:left;
background:#750014;
color:#ffffff;
}

#header h1{
padding:30px 0 10px 30px;
font-size:2.2em;
background-color:inherit;
color:#ffffff;
/* letter-spacing:-2px; */
font-weight:normal;
}

#header h2{
margin:20px 0 0 30px;
font-size:1.1em;
background-color:inherit;
color:inherit;
font-weight:normal;
}

#navigation{
height:2.0em;
line-height:2.0em;
width:748px;
margin:0 1px;
background:#750014;
color:#ffffff;
}

#navigation li{
float:left;
list-style-type:none;
border-right:1px solid #ffffff;
white-space:nowrap;
}

#navigation li a{
display:block;
padding:0 11px;
font-size:1.0em;
font-weight:normal;
text-decoration:none;
background-color:#750014;
color:#ffffff;
}

* html #navigation a {width:1%;}

#navigation .selected,#navigation a:hover{
background:#ffffff;
color:#750014;
text-decoration:none;
}

/**************** Content styles ****************/

#content{
float:left;
width:610px;
font-size:0.9em;
padding:0 0 0 70px;
}

#content h2{
display:block;
text-align:center;
margin:0 0 16px 0;
font-size:1.4em;
font-weight:normal;
letter-spacing:-1px;
color:#750014;
background-color:inherit;
}

#content h2 a{font-weight:normal;}
#content h3{font-size:1.2em ; letter-spacing:0px;}
#content a:hover,#subcontent a:hover{text-decoration:underline;}
#content ul,#content ol{margin:0 5px 16px 35px;}
#content dl{margin:0 5px 10px 25px;}
#content dt{font-weight:bold; margin-bottom:5px;}
#content dd{margin:0 0 10px 15px;}

#maincontent{
float:left;
text-align:right;
width:250px;
font-size:0.9em;
padding:25px 30px 0px 70px;
}

#maincontent a{
color:#750014;
text-decoration:none;
background-color:inherit;
}
#maincontent a:hover{color:inherit; text-decoration:underline; background-color:inherit;}

#aboutpagecontent a{
color:#750014;
font-weight:bold;
text-decoration:none;
background-color:inherit;
}
#aboutpagecontent a:hover{color:inherit; text-decoration:underline; background-color:inherit;}

#dhrcontent{
float:left;
text-align:justify;
width:600px;
font-size:1em;
padding:0px 30px 0px 70px;
}

#titles{
float:left;
text-align:center;
width:700px;
font-size:0.9em;
padding:20px 0px 10px 0px;
}

#researchtitles{
float:center;
text-align:center;
width:600px;
font-size:0.9em;
padding:10px 0px 10px 0px;
}

#mainpagecontent{
float:left;
text-align:justify;
width:305px;
font-size:1em;
padding:40px 30px 40px 50px;
}

#aboutpagecontent{
float:left;
text-align:justify;
width:650px;
font-size:1em;
padding:20px 30px 0 50px;
}

#educationpagecontent{
float:left;
text-align:justify;
width:650px;
font-size:1em;
padding:0px 0px 40px 50px;
}

#maincontent h2{
display:block;
margin:0 0 16px 0;
font-size:1.4em;
font-weight:normal;
letter-spacing:-1px;
color:#002d87;
background-color:inherit;
}

/**************** Photo style ****************/

#mainphoto{
float:left;
padding:10px 0 10px 0;
line-height:0.4em;
}

#photo{
float:left;
padding:22px 0 0 0;
line-height:0.4em;
}

#dhrphoto{
float:left;
padding:20px 30px 0 70px;
line-height:0.4em;
}

/**************** Footer styles ****************/

#footer{
clear:both;
width:748px;
padding:0px 0px;
margin:0 1px;
font-size:0.8em;
color:#f0f0f0;
background:#001144;
}

#footer p{padding:0; margin:0; text-align:center;}
#footer a{color:#f0f0f0; background-color:inherit; font-weight:bold;}
#footer a:hover{color:#ffffff; background-color:inherit; text-decoration: underline;}

/**************** Misc classes and styles ****************/

.splitcontentleft{float:left; width:48%;}
.splitcontentright{float:right; width:48%;}
.clear{clear:both;}
.small{font-size:0.8em;}
.hide{display:none;}
.textcenter{text-align:center;}
.textright{text-align:right;}
.important{color:#f02025; background-color:inherit; font-weight:bold;}

.box{
margin:0 0 20px 0;
padding:10px;
border:1px solid #c0c0c0;
background-color:#fafbfc;
color:#505050;
line-height:1.5em;
}
